*{
    font-family: 'Source Sans Pro', sans-serif;
}
.row {
    margin: 0;
}

.social-media {
    visibility: hidden;
    animation: show 1s ease-in;
    position: fixed;
    top: calc(50% - 150px);
}

.social-media-mobile {
    display: none;
}

@keyframes show {
    from{
        transform: translateX(-60px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.icon {
    display: block;
    margin: 15px;
}

.icon:hover {
    transform: scale(1.1);
}

.icon-bitbucket {
    width: 51px;
    height: 51px;
    background: url('images/css_sprites.png') -81px -10px;;
}

.icon-mail {
    width: 50px;
    height: 50px;
    background: url('images/css_sprites.png') -10px -80px;;
}

.icon-hackerRank {
    width: 45px;
    height: 50px;
    background: url('images/css_sprites.png') -151px -10px;
}

.icon-linkedin {
    width: 50px;
    height: 50px;
    background: url('images/css_sprites.png') -80px -80px;
}

.icon-codepen {
    width: 51px;
    height: 51px;
    background: url('images/css_sprites.png') -10px -10px;

}

.banner {
    visibility: hidden;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("images/baner1.jpg");
}

.navbar {
    padding-top: 5px;
    font-size: 20px;
    background-color: rgba(99, 73, 74, 0.5);
}

.navbar li .glyphicon {
    color: white;
    font-size: 15px;
}

.navbar li a:hover {
    text-decoration: underline;
}

footer {
    background-color:  rgb(166, 83, 83);
}

footer p {
    color: white;
    margin-top: 10px;
}

li {
    list-style: none;
    margin: 15px;
}

a, a:focus, a:hover {
    color: white;
    text-decoration: none;
}

.icon-bar, .navbar-toggle {
    border: 1px solid white;
}

.navbar-brand img {
    width: 120px;
    padding: 0;
    margin-top: 15px;
}

.navbar-brand {
    padding: 0;
}

#onTop {
    position: fixed;
    bottom: 25px;
    right: 25px;
    border: none;
    padding: 8px 12px;
    cursor: default;
    font-size: 20px;
    display: none;
    z-index: 10;
}

#onTop:hover {
    background-color: rgb(166, 83, 83);
    color: white;
    z-index: 3;
}

.about_me {
    padding: 50px 50px 0 50px ;
    font-size: 20px;
}

.about_me a {
    color: blue;
}

.banner-content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 87vh;
}

.banner-content > p {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 20px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.hire_me {
    padding: 10px 20px;
    background-color: rgb(166, 83, 83);
    color: white;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid white;

}

#about, #projects, #contacts {
    margin: 100px 0;
}

.hire_me:hover {
    background-color: rgb(120, 60, 60);
}

.about-skills h1 {
    margin: 60px 0;
    font-weight: bold;
    color: rgb(166, 83, 83);
}

.skill-name {
    padding: 15px 0;
    margin: 0 0 10px 0;
    color: white;
    background-color: rgb(166, 83, 83);
    border: 2px solid rgb(166, 83, 83);
    font-size: 18px;
    border-radius: 15px;
}

.skill {
    box-shadow: 0 14px 28px 0 rgba(115, 143, 147, .5);
    border-radius: 15px;
    padding: 40px 0;
}

.img-circle {
    height: 300px;
    width: 300px;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.skill-icon {
    object-fit: contain;
    height: 90px;
    width: 90px;
    max-width: 100%;
    max-height: 100%;
    margin: 0 15px;
}

#projects {
    background-color: rgba(214, 214, 214, 0.18);;
}

#projects h1 {
    text-align: center;
    margin: 50px 0;
}

#projects h2 {
    color: rgb(166, 83, 83);
    font-weight: bold;
}

.featurette-image {
    height: 200px;
}

.project:hover .project-overlay {
    opacity: 0.8;
}

.project-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #e76658;
    text-align: center;
    line-height: 200px;
}

.project-overlay a {
    opacity: 1;
    font-weight: bold;
    box-sizing: content-box;
    font-size: 15px;
    color: white;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
    cursor: pointer;
}


.project-overlay a:hover {
    transform: scale(1.5);
    transition-duration: 0.5s;
}

.source {
    margin-left: 25px;
}

.project-overlay span {
    font-size: 20px;
    margin-bottom: 5px;
}

.contact-icon {
    min-width: 250px;
    color: rgb(166, 83, 83);;
    font-size: 3rem;
    display: inline-block;
}

.contact-icon a p{
    color: rgb(166, 83, 83);;
}

.contact h1,
.projects h1 {
    color:  rgb(166, 83, 83);
    font-weight: bold;
}

.contacts {
    padding: 40px 0;
}

.phone {
    color: rgb(166, 83, 83);
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #930c2f;
    border-radius: 50%;
    border-top: 16px solid #a65353;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#myDiv {
    display: none;
    text-align: center;
}

blockquote {
    margin: 0 0 80px 0;
    border: none;
    position: relative;
    border-bottom: 1px solid #eee;
    padding-left: 84px;
}

blockquote img {
    position: absolute;
    top: -40px;
    left: 0;
}

blockquote p {
    font-size: 25px;
    font-style: italic;
    color: #767676;
}


@media only screen and (max-width: 768px) {
    body {
        min-width: 320px;
    }

   .banner-content p {
        font-size: 30px;
       text-align: center;
    }

   .banner-content {
       z-index: 1;
   }

   .social-media-mobile{
       display: block;
   }

   .social-media-mobile a .icon {
       display: inline-block;
       margin: 5px;
   }

    .social-media {
        display: none;
    }

    .navbar {
        background-color: rgba(166, 83, 83, 0.89);
    }

    #navbar {
        background-color: rgba(166, 83, 83, 0.89);
        width: 100%;
        height: 90vh;
        position: absolute;
        z-index: 10;
    }

    .navbar-nav {
        padding-left: 0;
    }

    .navbar-brand img{
        margin-left: 15px;
    }

    .col-md-4 {
        margin-bottom: 40px;
    }

    .about_me {
        padding: 10px 10px 0 10px ;
        font-size: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    .navbar {
        font-size: 20px;
    }

    .banner-content p {
        font-size: 35px;
    }

    .navbar-nav {
        padding-left: 0;
    }

    .navbar-brand img{
    }

    .col-md-4 {
        margin-bottom: 40px;
    }

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .skill-name {
        font-size: 16px;
    }
    .col-md-4 {
        padding-left: 0;
    }
}
